*{
    margin: 0px;
    padding: 0px;
  }
  body{
    background: #4e3d46;
  }
  .welcome{
    width: device-width;
    height: 70px;
    background: #372730;
    margin: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #batchheading{
    color: #d8d8d8;
    align-content: center;
    font-size: x-large;
    margin-top: 10px;
    font-weight: 500;
  }
  #logojnu{
    height: 50px;
  }
  #Uttoron-2{
    color: #d8d8d8;
    margin: 0px;
    position: relative;
    top: 5px;
  }
  #Jagannath{
    margin: 0px;
    position: relative;
    bottom: 9px;
    font-size: 18px;
  }
  #heading{
    color: #da9339;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .allbox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informationperperson{
    width: 80%;
    height: 400px;
    background: #4e3d46;
    justify-content: center;
    margin: 30px;
    border-radius: 6%;
    border :10px solid #372730;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  i{
    
  }
  /* .photocontainer{
    width: 50%;
    height: auto; 
} */
  .namedep{
    text-align: center;
    color:
  }
  .photo{
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
 .footer{
    height: 100px;
    width: 100%;
    background-color: #372730;
  }
  
