*{
    margin: 0px;
    padding: 0px;
  }
   @keyframes brownBackgroundAnimation {
    0% {
      background: linear-gradient(45deg, #d2691e, #c57b2d, #b77d2e, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730);
    }
   25% {
      background: linear-gradient(45deg, #c57b2d, #b77d2e, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730, #d2691e);
    }
    50% {
      background: linear-gradient(45deg, #b77d2e, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730, #d2691e, #c57b2d);
    }
    75% {
      background: linear-gradient(to top, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730, #d2691e, #c57b2d, #b77d2e);
    }
    100% {
      background: linear-gradient(45deg, #d2691e, #c57b2d, #b77d2e, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730);
    }
  }
  
  body {
    margin: 0;
    background: linear-gradient(45deg, #d2691e, #c57b2d, #b77d2e, #a87e2f, #9a8030, #8c8231, #7e8432, #6f4f37,#372730);
    background-size: 400%400%;
    animation: brownBackgroundAnimation 25s ease infinite;
  }
  .welcome{
    width: 50%;
    height: 70px;
    background: #372730;
    margin: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #batchheading{
    color: #d8d8d8;
    align-content: center;
    font-size: x-large;
    margin-top: 10px;
    font-weight: 500;
  }
  #logojnu{
    height: 50px;
  }
  #Uttoron-2{
    color: #d8d8d8;
    margin: 0px;
    position: relative;
    top: 5px;
  }
  #Jagannath{
    margin: 0px;
    position: relative;
    bottom: 9px;
    font-size: 18px;
  }
  #heading{
    color: #da9339;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .allbox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .informationperperson{
     width: 80%;
    height: 400px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    justify-content: center;
    margin: 30px;
    border-radius: 6%;
    border:10px solid rgba(255,255,255,0.18);
    box-shadow:  15px 15px 15px 15px rgba(0,0,0,0.37);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* .photocontainer{
    width: 50%;
    height: auto; 
} */
  .namedep{
    text-align: center;
    color:
  }
  .photo{
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
 .footer{
    height: 100px;
    width: 100%;
    background-color: #372730;
  }





 @media(min-width:1024px){
    .informationperperson{
      width: 55%;
      height: 650px;
    }
    .namedep{
      font-size:x-large;
    }
    .socialmedia{
      height:30px
    }
    .welcome{
      width: 20%;
      margin-left: 40%;
    }
  }
